<!DOCTYPE html>
<html>
<head>
  <title>xiihoo - 机器人开发者社区</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="机器人,SLAM,自动驾驶,ROS,人工智能，xiihoo，小虎哥哥爱学习，机器人SLAM导航核心技术与实战，张虎">
  <meta name="description" content="xiihoo机器人开发者社区，致力于机器人、SLAM、自动驾驶、ROS、人工智能等技术领域的知识分享，同时也作为站长的新书《机器人SLAM导航核心技术与实战》的读者答疑互动社区。">
  <link rel="shortcut icon" href="http://www.xiihoo.com/static/image/x.ico" type="image/x-icon">
  <link rel="stylesheet" href="http://www.xiihoo.com/static/class.css" type="text/css">
  <script src="http://www.xiihoo.com/static/showhide.js"></script>
  <script type="text/javascript">
    //页面加载完成后触发
    window.onload = function(){
        flashing('content_1_up',20);//ms
        flashing('content_1_down',20);//ms

        flashing('content_2_up',20);//ms
        flashing('content_2_down',20);//ms

        flashing('content_3_up',20);//ms
        flashing('content_3_down',20);//ms

        flashing('content_4_up',20);//ms
        flashing('content_4_down',20);//ms

        flashing('content_5_up',20);//ms
        flashing('content_5_down',20);//ms
   }
    </script>
</head>

<body>
<!-- 顶部导航 -->    
<div id="header_style">
  <div id="header_container_style">
    <!-- logo图标 -->
    <div id="logo_style">
      <a href="http://www.xiihoo.com"><img src="http://www.xiihoo.com/static/image/logo_xiihoo.png" /></a>
    </div>
    <!-- 菜单栏 -->
    <div id="menu_style">
      <ul>
        <li class="active"><a href="#">首页</a></li>
        <li><a href="#">书籍</a></li>
        <li><a href="#">教程</a></li>
        <li><a href="#">下载</a></li>
        <li><a href="#">关于</a></li>
      </ul>
    </div>
  </div>
</div>
    
<!-- 顶部占位 -->
<div id="header_place_style"></div>

<!-- 中部内容 -->
<div id="middle_container_style">
	<!-- 正文 -->
    <div id="main_style">
    	<!-- 引入banner内容 -->
        {% include 'banner.html' %}
    	<!-- 引入content内容 -->
        {% include 'content.html' %}
    </div>
    <!-- 侧边 -->
    <div id="side_style">
        <div id="side_1_style">
        	<h4>xiihoo 机器人开发者社区</h4>
            <hr class="hr-edge-weak">
            <p style="margin-bottom: 0px; font-size: 14px;color: #4E4E4E">|机器人|SLAM|自动驾驶|ROS|人工智能|</p>
            <p style="margin-top: 0px; font-size: 14px;color: #4E4E4E">|单片机|嵌入式|智能硬件|</p>
            <p style="font-size: 14px;color: #4E4E4E">让机器人开发变简单</p>
            <p><a href="http://www.xiihoo.com">www.xiihoo.com</a></p>
            
        </div>
        <div id="side_2_style">
        	<h4 style="margin-left: 10px">简介</h4>
        	<p style="font-size: 14px;color: #4E4E4E;margin: 10px">
            	“xiihoo机器人开发者社区”是致力于机器人、SLAM、自动驾驶、ROS、人工智能等领域技术交流与知识分享的平台，并希望通过不断贡献代码和开源方案的方式来助力全人类早日实现机器人技术的革命性突破。
            </p>
        </div>
        <div id="side_2_style">
        	<h4 style="margin-left: 10px">了解更多</h4>
        	<p style="font-size: 14px;color: #4E4E4E;margin: 10px">
				GitHub：
                <a href="https://github.com/xiihoo" target="_blank">github.com/xiihoo</a>
            </p>
            <p style="font-size: 14px;color: #4E4E4E;margin: 10px">
				Gitee：
                <a href="https://gitee.com/xiihoo-robot" target="_blank">gitee.com/xiihoo-robot</a>
            </p>
            <p style="font-size: 14px;color: #4E4E4E;margin: 10px">
				知乎教程：
                <a href="https://www.zhihu.com/people/hiram_zhang" target="_blank">@小虎哥哥爱学习</a>
            </p>
            <p style="font-size: 14px;color: #4E4E4E;margin: 10px">
				B站视频：
                <a href="https://space.bilibili.com/66815220" target="_blank">@小虎哥哥爱学习</a>
            </p>            
            <p style="font-size: 14px;color: #4E4E4E;margin: 10px">
				E-mail：robot4xiihoo@163.com
            </p>
            <p style="font-size: 14px;color: #F00;margin: 10px">
				QQ技术1群：728661815（已满）
            </p>
            <p style="font-size: 14px;color: #F00;margin: 10px">
				QQ技术2群：117698356（已满）
            </p>
            <p style="font-size: 14px;color: #F00;margin: 10px">
				QQ技术3群：891252940（已满）
            </p>
            <p style="font-size: 14px;color: #F00;margin: 10px">
				QQ技术4群：985137094
            </p>
        </div>
        <div id="side_2_style">
        	<h4 style="margin-left: 10px">技术支持</h4>
       	    <p style="font-size: 14px;color: #4E4E4E;margin: 10px;text-align: center">
            	请加微信：robot4xiihoo
                <br/>
                <img width="100" height="100" src="http://xiihoo.com/static/image/xiihoo%E5%BE%AE%E4%BF%A1%E4%BA%8C%E7%BB%B4%E7%A0%81%E5%90%8D%E7%89%87.jpg"/>
            </p>
        </div>
        <div id="side_2_style">
        	<h4 style="margin-left: 10px">微信公众号</h4>
       	    <p style="font-size: 14px;color: #4E4E4E;margin: 10px;text-align: center">
            	打开微信扫码关注
                <br/>
                <img width="100" height="100" src="http://xiihoo.com/static/image/%E5%BE%AE%E4%BF%A1%E5%85%AC%E4%BC%97%E5%8F%B7%E4%BA%8C%E7%BB%B4%E7%A0%81.jpg"/>
            </p>
        </div>
        <div id="side_2_style">
        	<h4 style="margin-left: 10px">淘宝店铺</h4>
       	    <p style="font-size: 14px;color: #4E4E4E;margin: 10px;text-align: center">
                用手机淘宝扫码进店
                <br/>
                <img width="100" height="100" src="http://xiihoo.com/static/image/%E6%B7%98%E5%AE%9D%E5%BA%97%E9%93%BA%E4%BA%8C%E7%BB%B4%E7%A0%81.png"/>
                <br/>
                <a href="https://xiihoo.taobao.com" target="_blank">xiihoo.taobao.com</a>
            </p>
        </div>
        <div id="side_2_style">
        	<h4 style="margin-left: 10px">xiihoo 起源</h4>
        	<p style="font-size: 14px;color: #4E4E4E;margin: 10px">
            	由于社区发起者（张虎）的网名叫“小虎哥哥爱学习”，被网友们亲切地称呼为“小虎哥”，“xiihoo”中的字母“x”和“h”便取自“小”和“虎”的拼音首字母。计算机和机器人的本质就是一台输入/输出式的逻辑处理设备，“xiihoo”中的字母“i”和“o”就分别代表“输入”和“输出”的含义。双字母“ii”和“oo”的含义，则恰似机器人的双腿和双眼。
            </p>
        </div>
    </div>
</div>

<!-- 底部内容 -->
<div id="bottom_style">
	<a href="https://beian.miit.gov.cn/" style="color: #999" target="_blank">粤ICP备2021163921号</a>
</div>
</body>
</html>